<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>test</title>
	<script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src ="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>
	<style>
		
    </style>
	<script src="{{ url_for('static', filename='js/indexReady.js') }}"></script>
</head>

<body>
    <div id="title">

    </div>
    <div id="main">
        <div id="console">

        </div>
        <div id="listVedio">
            <button id="btnStart">Go</button>
        </div>
    </div>
    <div id="windowVedio">
        <button id="btnClose">Close</button><br />
        <iframe width="560" height="315" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
</body>
</html>