<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Pool Youtube KnowledgeGraph</title>
	<script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src ="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>

	<script src="{{ url_for('static', filename='js/videoSet.js') }}"></script>
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <link rel="stylesheet" href=" {{ url_for('static', filename='css/index.css') }} ">
	<link rel="stylesheet" href=" {{ url_for('static', filename='css/videoSet.css') }} ">
</head>

<body>
    <div id="loading">
        Getting information from YouTube and DB...<br />
        It takes about a minute.<br /><br />
        If you can't see the thumbnail, please refresh it because it's a network problem
    </div>
    <div id="title"></div>
    <div id="windowVideo">
        <div id="videoTitle"></div>
        <iframe width="1120" height="630" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br /><button id="btnClose">Close</button>
    </div>
    <div id="main">
        <div id="console">
            <div id="consoleTitle">
                Pool Youtube<br />KnowledgeGraph
            </div>
            <div id="consoleEditor">
                by Bonhyeon Gu, <br />
                Muyeon Jo, <br />
                Sungbeom Lee.
            </div>
            {% if user_id == 'ANNONYMOUS' %}
            <div id="login" class="boxInput">
                This login is for testing<br />recommended algorithms.<br /><br />
                id is (user01, user02, user03)<br />
                pw is 1234
                <form action="/backLogin" method ="post"><br/>
                    <input type="text" id="id" name="id" maxlength="8" placeholder="ID" /><br/>
				    <input type="password" id="pw" name="pw" placeholder="PW" /><br/><br/>
                    <input type="submit" value='LOGIN'/>
                </form>
            </div>
            {% else %}
            <div id="userInfo" class="boxInput">
                Currently in user<br />{{user_id}} <br /><br/>
                <button id="btnLogout" >LOGOUT</button>
            </div>
            {% endif %}
        </div>
        <div class="line">Recommendation1</div>
        <div id="listVideoR1"></div>
        <div class="line">Recommendation2</div>
        <div id="listVideoR2"></div>
        <div class="line">Full list</div>
        <div id="listVideo"></div>
    </div>

    <div id="windowVideoBlock"></div>
    <div id="hoverMenu" style="position:absolute;"></div>
</body>
</html>