<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Show Pool</title>
	<script src ="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src ="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>

	<script src="{{ url_for('static', filename='js/videoSet.js') }}"></script>
	<script src="{{ url_for('static', filename='js/index.js') }}"></script>

    <link rel="stylesheet" href=" {{ url_for('static', filename='css/index.css') }} ">
	<link rel="stylesheet" href=" {{ url_for('static', filename='css/videoSet.css') }} ">
</head>

<body>
    <div id="loading">정보 들고오는 중<br />
    Neo4J와 Youtube에서 정보를 들고옵니다.<br />
    약 1분정도 시간이 소요됩니다.
    </div>
    <div id="title"></div>
    <div id="windowVideo">
        <div id="videoTitle"></div>
        <iframe width="1120" height="630" src="" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <br /><button id="btnClose">Close</button>
    </div>
    <div id="main">
        <div id="consoleTitle">
            ShowPoolWeb<br />Youtube<br />KnowledgeGraph
        </div>
        <div id="console">
            {% if user_id == 'ANNONYMOUS' %}
            <div id="login" class="boxInput">
                해당 폼은 추천시스템<br />테스트용입니다.<br />
                <form action="/backLogin" method ="post"><br/>
                    <input type="text" id="id" name="id" maxlength="8" placeholder="아이디" /><br/>
				    <input type="password" id="pw" name="pw" placeholder="비밀번호" /><br/><br/>
                    <input type="submit" value='로그인'/>
                </form>
            </div>
            {% else %}
            <div id="userInfo" class="boxInput">
                현재 로그인된 유저 : {{user_id}} <br /><br/>
                <button id="btnLogout" >로그아웃</button>
            </div>
            {% endif %}
        </div>
        <div class="line">추천1</div>
        <div id="listVideoR1"></div>
        <div class="line">추천2</div>
        <div id="listVideoR2"></div>
        <div class="line">목록</div>
        <div id="listVideo"></div>
    </div>

    <div id="windowVideoBlock"></div>
    <div id="hoverMenu" style="position:absolute;"></div>
</body>
</html>